

.std-white-box {
    position: relative; 
    padding-top: 10px;
    padding-left: 10px;
    margin-left: -6px;
    
}

.std-white-box > .corner-tr {
    position: absolute;
    right: 0; top: 0;
    width: 10px;
    height: 10px;
    background: transparent url(../images/boxes/std-white-box-shadow.png) no-repeat right top;
}

.std-white-box > .corner-bl {
    position: absolute;
    left: 0; bottom: 0;
    width: 10px;
    height: 10px;
    background: transparent url(../images/boxes/std-white-box-shadow.png) no-repeat left bottom;
}

.std-white-box > .box-br { 
    background: transparent url(../images/boxes/std-white-box-shadow.png) no-repeat right bottom;
}

.std-white-box .box-tl {
    position: relative; 
    left: -10px; top: -10px; 
    background: transparent url(../images/boxes/std-white-box-shadow.png) no-repeat left top;
}

.std-white-box .box-content {
    position: relative; 
    left: 5px; top:5px;
    background-color: white;   
    xborder: 1px solid #dedede;
    xborder-bottom: 1px solid #dbdbdb;
    border-style: solid;
    border-width: 1px;
    border-color: #dbdbdb #d6d6d6 #d6d6d6;
}

.std-white-box .box-content-padding {
    padding: 18px;
}

/* Gradient version */
.std-white-box.gradient .box-content {
   
    border: none;
    border-top: 1px solid white;
    border-left: 1px solid white;
    background: #fafafa url(../images/boxes/std-white-box-gradient.png) repeat-x left top;
}

/* Border version */
.std-white-box.noborder {   
    padding-top: 12px;
    padding-left: 12px;
}

.std-white-box.noborder > .corner-tr,
.std-white-box.noborder > .corner-bl
 { 
    width: 12px;
    height: 12px; 
   
}

.std-white-box.noborder .box-tl {
    left: -12px; top: -12px; 
}

.std-white-box.noborder .box-content {
    left: 6px; top:6px;


    /*
    border-top: 1px solid #e0e0e0;
    
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #dbdbdb;
    */
    /*
    border-style: solid;
    border-width: 1px;
    border-color: #dbdbdb #d6d6d6 #d6d6d6;
    */
    border: none;
}


.std-white-box.dark-border .box-content,
.std-white-box.has-header-box .box-content {
    border: 1px solid #d8d8d8;
    border: 1px solid #d6d6d6;
}


/* Actual left side boxes */
.std-white-box.left {
    float: left;
    margin-bottom: 6px;
}

.std-white-box.left .box-content {  
    width: 670px;
}

/* Actual right side boxes */
.std-white-box.right {
    float: left; 
    margin-bottom: 6px;
}

.std-white-box.right .box-content {  
    width: 300px;
}

.std-white-box.full {
    width: 992px;
}

.std-box-header-simple {
    font-family: "Trebuchet MS";
    font-size: 21px;
    letter-spacing: -1px;       
    margin-bottom: 9px;
    height: 25px;
    line-height: 25px;
    padding-top: 10px;
    padding-left: 16px;
}

.header-box {
    height: 42px;
    width: 100%;
    background-color: #f8f8f8;
    border-bottom: 1px solid #d6d6d6;
}

.header-box.small {
    height: 38px;
}


.header-box-header {
    font-family: "Trebuchet MS";
    font-size: 21px;
    letter-spacing: -1px;       
    zzmargin-bottom: 9px;
    height: 25px;
    line-height: 25px;
    padding-top: 10px;
    padding-left: 16px;
}

.header-box.small > .header-box-header {
  font-size: 20px;
  line-height: 22px;
  padding-top: 9px;
}

/* Variation with arrow tabs */
.header-box.has-tabs,
.header-box.expanded {
    height: auto;
    background-color: #fbfbfb;
}

.header-box.light {
    background-color: #fbfbfb;
}

.header-box.autoheight {
    height: auto;
}


/*
  .header-box.has-tabs > .header-box-header {
  
  font-size: 20px;
  line-height: 22px;
  padding-top: 9px;
  
  
  }
  */
.header-box-inset {
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    position: relative;
    min-height: 32px;
    background: transparent url(../images/boxes/header-box-inset-shadow.png) repeat-x left top;
}

.header-box-inset  > .content {
    position: relative;
    z-index: 5;
}
.header-box-inset > .bottom {
    width: 100%;
    height: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: transparent url(../images/boxes/header-box-inset-shadow.png) repeat-x left bottom;
}



.header-box-shadow {
    width: 100%;
    height: 6px;
    
    background: transparent url(../images/boxes/box-header-shadow.png) repeat-x left top;
}

.header-box-tabs {
     list-style-type: none;     
     height: 36px;
     padding-left: 4px;
     margin-top: 3px;
}

.header-box-tabs-item {
    float: left;
    display: block;    
}

.header-box-tabs-link {
    display: block;
    float: left;
    font-size: 16px;
    text-align: center;    
    position: relative;
    height: 36px;
    font-family: "Trebuchet MS";
    font-size: 15px;
    line-height: 33px;

    zfont-weight: bold;
    color: #222;
    color: #67717E;
    zcolor: #798089;
}



.header-box-tabs-link.selected {
    color: #3871c8;
    color: #2255ff;
    color: #4068CB;  /*ok*/
    color: #5D7198;
    color: #5373AE;
    color: #152B4A;
    color: #0D1A2C;
}

.header-box-tabs-link:hover {
    
    color: #6F7889;
    color: #5D7198;  /*ok*/
    color: #4068CB;
    color: #416fde;
    color: #152B4A;

}

.header-box-tabs-link > .text {
    display: block;
    height: 100%;
    padding: 0px 12px;
}

.header-box-tabs-triangle {
    display: none;
    position: absolute;
    width: 100%;
    bottom: -1px;   
    height: 8px;    
    background: url(../images/boxes/header-box-tab-triangle-white.png) no-repeat center top transparent;
}

.header-box-tabs-triangle.white {
    background: url(../images/boxes/header-box-tab-triangle-white.png) no-repeat center top transparent; 
}

.header-box-tabs-triangle.lightgrey {
    background: url(../images/boxes/header-box-tab-triangle-lightgrey.png) no-repeat center top transparent;
}


.header-box-tabs-triangle.light {
    background: url(../images/boxes/header-box-tab-triangle-light.png) no-repeat center top transparent;
}


.header-box-tabs-link.selected > .header-box-tabs-triangle {
    display: block;  
}


.header-box-tabs.inset-shadow {
    padding-top: 2px;
    border-top: 1px solid #d6d6d6;
    position: relative;
    background: transparent url(../images/boxes/header-box-inset-shadow.png) repeat-x left top;
}

.header-box-tabs.inset-shadow  > .header-box-tabs-link {
    color: #5A6370;
    z-index: 1;   /* so triangle is above the bottom shadow */
}

.header-box-tabs.inset-shadow  > .header-box-tabs-link.selected {
color: #0D1A2C;
}

.header-box-tabs.inset-shadow > .bottom {
    width: 100%;
    height: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: transparent url(../images/boxes/header-box-inset-shadow.png) repeat-x left bottom;
}




div.testbox2 {
    margin-top: 10px;
}


.sunk-box {
    position: relative; 
    padding-top: 10px;
    padding-left: 10px;
    
}


.sunk-box > .sunk-corner-tr {
    position: absolute;
    right: 0; top: 0;
    width: 10px;
    height: 10px;
    background: transparent url(../images/boxes/sunken-box.png) no-repeat right top;
}

.sunk-box > .sunk-corner-bl {
    position: absolute;
    left: 0; bottom: 0;
    width: 10px;
    height: 10px;
    background: transparent url(../images/boxes/sunken-box.png) no-repeat left bottom;
}

.sunk-box > .sunk-box-br { 
    background: transparent url(../images/boxes/sunken-box.png) no-repeat right bottom;
}

.sunk-box .sunk-box-tl {
    position: relative; 
    left: -10px; top: -10px; 
    background: transparent url(../images/boxes/sunken-box.png) no-repeat left top;
}
.sunk-box .sunk-box-content {
    position: relative; 
    left: 5px; top:5px;
    xbackground-color: white;   
    xborder: 1px solid #dedede;
    xborder-bottom: 1px solid #dbdbdb;
 
}

.sunk-box .sunk-box-content-padding {
    padding: 20px;
}


/* LEGACY ROUNDED SIDEBARS??*/

.sidebar-header-box-rounded {
    margin-left: -5px;
    margin-bottom: 10px;
    float: left;
    width: 310px;
}

.sidebar-header-box-rounded.dark > .box-hd {
    height: 41px;
    background: transparent url(../images/boxes/sidebar-box-dark-top.png) no-repeat left top;
    zzbackground: transparent url(../images/boxes/sidebar-header-box-sprite.jpg) no-repeat left top;
    padding: 0px 20px 0px 20px;
}

.sidebar-header-box-rounded.light > .box-hd {
    height: 41px;
   background: transparent url(../images/boxes/sidebar-box-light-top.png) no-repeat left top;
   zzbackground: transparent url(../images/boxes/sidebar-header-box-sprite.jpg) no-repeat left -45px;
    padding: 0px 20px 0px 20px;
}

.sidebar-header-box-rounded.dark > .box-hd > h2 {
    padding-top: 12px;
    color: white; 
    font-weight: normal; 
    font-size: 15px
}

.sidebar-header-box-rounded.light > .box-hd > h2 {
    padding-top: 12px;
    color: #222222; 
    font-weight: normal; 
    font-size: 15px
}


.sidebar-header-box-rounded > .box-content {
  
    background: transparent url(../images/boxes/sidebar-rounded-box-body.png) no-repeat left bottom;
    padding: 0px 5px 10px 5px;

}

.sidebar-header-box-rounded .box-content-padding {
    padding: 10px 10px 5px 10px;
}




/* BUTTONS */


.button-std {
    position: relative;
    padding-right: 18px;
    margin-top: -2px;
    height: 38px;

    /* Final line height 36px */
    line-height: 36px;
   
    display: block;
    width: 90px;
}

.button-std > .button-text {
   display: block;
   height: 100%;
   xheight: 38px;
    padding-left: 18px; 
    text-align: center;
    xfont-family: "Trebuchet MS";
    xfont-weight: bold;
    font-size: 14px;
}

.button-std > .button-right {
    position: absolute;
    width: 18px;
    right: 0;
    bottom: 0;
    height: 100%;
    xheight: 38px;
    opacity:inherit; /* ie8 jquery fadeout bug*/
    filter:inherit;
}

/* green */
.button-green > .button-text {   
    background: url(../images/buttons/button-green.png) no-repeat left top transparent;     
    background: transparent url(../images/buttons/button-sprite.png) 0 0 ;  
}

.button-green > .button-right {  
    background: url(../images/buttons/button-green.png) no-repeat right top transparent;
    background: transparent url(../images/buttons/button-sprite.png) right 0 ;  
}
.button-green:hover > .button-text,
.button-green:focus > .button-text {
    background: url(../images/buttons/button-green-hover.png) no-repeat left top transparent;  
    background: transparent url(../images/buttons/button-sprite.png) 0 -40px ;  
    xxcolor: #000;
}

.button-green:hover > .button-right,
.button-green:focus > .button-right {
    background: url(../images/buttons/button-green-hover.png) no-repeat right top transparent;  
    background: transparent url(../images/buttons/button-sprite.png) right -40px ;  
}

.button-green.active > .button-text {
    background: url(../images/buttons/button-green-active.png) no-repeat left top transparent;  
    background: transparent url(../images/buttons/button-sprite.png) 0 -80px ;  
    color: #000;
}

.button-green.active > .button-right {
    background: url(../images/buttons/button-green-active.png) no-repeat right top transparent;  
    background: transparent url(../images/buttons/button-sprite.png) right -80px ;  
}

.button-green.alt:hover > .button-text {
    background: url(../images/buttons/button-green-hover-alt.png) no-repeat left top transparent;  
 
}

.button-green.alt:hover > .button-right {
    background: url(../images/buttons/button-green-hover-alt.png) no-repeat right top transparent;  
   
}

.button-green.alt.active > .button-text {
    background: url(../images/buttons/button-green-active-alt.png) no-repeat left top transparent;    
}

.button-green.alt.active > .button-right {
    background: url(../images/buttons/button-green-active-alt.png) no-repeat right top transparent;  
 
}




/* dark grey */

a.button-darkgrey .button-text {   
    background: url(../images/buttons/button-darkgrey.png) no-repeat left top transparent;  
    background: transparent url(../images/buttons/button-sprite.png) 0 -240px ;  
    color: white;
}

a.button-darkgrey .button-right {  
    background: url(../images/buttons/button-darkgrey.png) no-repeat right top transparent;
    background: transparent url(../images/buttons/button-sprite.png) right -240px ;  
}



a.button-darkgrey:hover .button-text,
a.button-darkgrey:focus .button-text
 {
    background: url(../images/buttons/button-darkgrey-hover.png) no-repeat left top transparent;  
    background: transparent url(../images/buttons/button-sprite.png) 0 -280px ;  
    
}

a.button-darkgrey:hover .button-right,
a.button-darkgrey:focus .button-right
{
    background: url(../images/buttons/button-darkgrey-hover.png) no-repeat right top transparent;  
    background: transparent url(../images/buttons/button-sprite.png) right -280px ;  
}


a.button-darkgrey.active .button-text {
    background: url(../images/buttons/button-darkgrey-active.png) no-repeat left top transparent;  
    background: transparent url(../images/buttons/button-sprite.png) 0 -320px ;  
}

a.button-darkgrey.active .button-right {
    background: url(../images/buttons/button-darkgrey-active.png) no-repeat right top transparent;   
    background: transparent url(../images/buttons/button-sprite.png) right -320px ;  
}


/* light grey */

a.button-lightgrey .button-text {   
    background: url(../images/buttons/button-lightgrey.png) no-repeat left top transparent;    
    background: transparent url(../images/buttons/button-sprite.png) 0 -120px ;  
    color: #444;
}

a.button-lightgrey .button-right {  
    background: url(../images/buttons/button-lightgrey.png) no-repeat right top transparent;
    background: transparent url(../images/buttons/button-sprite.png) right -120px ;  
}

a.button-lightgrey:hover .button-text,
a.button-lightgrey:focus .button-text
 {
    background: url(../images/buttons/button-lightgrey-hover.png) no-repeat left top transparent;  
    background: transparent url(../images/buttons/button-sprite.png) 0 -160px ;  
    color: #000;
}

a.button-lightgrey:hover .button-right,
a.button-lightgrey:focus .button-right
{
    background: url(../images/buttons/button-lightgrey-hover.png) no-repeat right top transparent;  
    background: transparent url(../images/buttons/button-sprite.png) right -160px ;  
}


a.button-lightgrey.active .button-text {
    background: url(../images/buttons/button-lightgrey-active.png) no-repeat left top transparent;  
    background: transparent url(../images/buttons/button-sprite.png) 0 -200px ;  
}

a.button-lightgrey.active .button-right {
    background: url(../images/buttons/button-lightgrey-active.png) no-repeat right top transparent;   
    background: transparent url(../images/buttons/button-sprite.png) right -200px ;  
}

/* red */
a.button-red .button-text {   
    background: url(../images/buttons/button-red.png) no-repeat left top transparent;    
    color: white;
}

a.button-red .button-right {  
    background: url(../images/buttons/button-red.png) no-repeat right top transparent;
}

/* orange */
a.button-orange .button-text {   
    background: url(../images/buttons/button-orange.png) no-repeat left top transparent;    
    color: #5e4b1b;
}  

a.button-orange .button-right {  
    background: url(../images/buttons/button-orange.png) no-repeat right top transparent;
}

a.button-grey .button-text {   
    background: url(../images/buttons/button-grey.png) no-repeat left top transparent;    
   
}

a.button-grey .button-right {  
    background: url(../images/buttons/button-grey.png) no-repeat right top transparent;
}





/* FORMS */

.textfield-std {
    position: relative;
    padding-right: 12px;
    height: 40px;
    margin-top: -4px;
    width: 220px;
    xxcursor: text;
}

.textfield-std > .textfield-right {
    height: 100%;
    position: absolute;
    width: 12px;
    right: 0;
    top: 0;
    background: transparent url(../images/forms/textfield-light.png) no-repeat right top;
    background: transparent url(../images/forms/form-sprite.png) no-repeat right -240px;
}

.textfield-std > .textfield-left {
    xheight: 100%;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    background: transparent url(../images/forms/textfield-light.png) no-repeat left top;
    background: transparent url(../images/forms/form-sprite.png) no-repeat left -240px;
}




.textfield-std:hover > .textfield-right {
  
    background: transparent url(../images/forms/textfield-light-hover.png) no-repeat right top;
    background: transparent url(../images/forms/form-sprite.png) no-repeat right -280px;
}

.textfield-std:hover > .textfield-left {
    background: transparent url(../images/forms/textfield-light-hover.png) no-repeat left top;
    background: transparent url(../images/forms/form-sprite.png) no-repeat left -280px;
}


.textfield-std.focus > .textfield-right {
  
    background: transparent url(../images/forms/textfield-light-focus.png) no-repeat right top;
    background: transparent url(../images/forms/form-sprite.png) no-repeat right -320px;
}

.textfield-std.focus > .textfield-left {
    background: transparent url(../images/forms/textfield-light-focus.png) no-repeat left top;
    background: transparent url(../images/forms/form-sprite.png) no-repeat left -320px;
}

.textfield-std.lightshadow.focus > .textfield-right {
  
    background: transparent url(../images/forms/textfield-light-focus-lightshadow.png) no-repeat right top;
    background: transparent url(../images/forms/form-sprite.png) no-repeat right -360px;
}

.textfield-std.lightshadow.focus > .textfield-left {
    background: transparent url(../images/forms/textfield-light-focus-lightshadow.png) no-repeat left top;
    background: transparent url(../images/forms/form-sprite.png) no-repeat left -360px;
}

.textfield-std.blue.focus > .textfield-right {
  
    background: transparent url(../images/forms/textfield-light-focus-blue.png) no-repeat right top;
    background: transparent url(../images/forms/form-sprite.png) no-repeat right -400px;
}

.textfield-std.blue.focus > .textfield-left {
    background: transparent url(../images/forms/textfield-light-focus-blue.png) no-repeat left top;
    background: transparent url(../images/forms/form-sprite.png) no-repeat left -400px;
}




/* WHITE VERSION */
.textfield-std.white > .textfield-right {

    background: transparent url(../images/forms/textfield-white.png) no-repeat right top;
    background: transparent url(../images/forms/form-sprite.png) no-repeat right -440px;
}

.textfield-std.white > .textfield-left {
   
    background: transparent url(../images/forms/textfield-white.png) no-repeat left top;
    background: transparent url(../images/forms/form-sprite.png) no-repeat left -440px;
}

.textfield-std.white:hover > .textfield-right {
  
    background: transparent url(../images/forms/textfield-white-hover.png) no-repeat right top;
    background: transparent url(../images/forms/form-sprite.png) no-repeat right -480px;
}

.textfield-std.white:hover > .textfield-left {
    background: transparent url(../images/forms/textfield-white-hover.png) no-repeat left top;
    background: transparent url(../images/forms/form-sprite.png) no-repeat left -480px;
}


.textfield-std.white.focus > .textfield-right {
  
    background: transparent url(../images/forms/textfield-white-focus.png) no-repeat right top;
    background: transparent url(../images/forms/form-sprite.png) no-repeat right -520px;
}

.textfield-std.white.focus > .textfield-left {
    background: transparent url(../images/forms/textfield-white-focus.png) no-repeat left top;
    background: transparent url(../images/forms/form-sprite.png) no-repeat left -520px;
}


.textfield-std.white.lightshadow.focus > .textfield-right {
  
    background: transparent url(../images/forms/textfield-white-focus-lightshadow.png) no-repeat right top;
    background: transparent url(../images/forms/form-sprite.png) no-repeat right -560px;
}

.textfield-std.white.lightshadow.focus > .textfield-left {
    background: transparent url(../images/forms/textfield-white-focus-lightshadow.png) no-repeat left top;
    background: transparent url(../images/forms/form-sprite.png) no-repeat left -560px;
}


.textfield-std.white.blue.focus > .textfield-right {
  
    background: transparent url(../images/forms/textfield-white-focus-blue.png) no-repeat right top;
    background: transparent url(../images/forms/form-sprite.png) no-repeat right -600px;
}
.textfield-std.white.blue.focus > .textfield-left {
    background: transparent url(../images/forms/textfield-white-focus-blue.png) no-repeat left top;
    background: transparent url(../images/forms/form-sprite.png) no-repeat left -600px;
}

/* Textfield disabled */
.textfield-std.disabled > .textfield-right,
.textfield-std.disabled:hover > .textfield-right {
  
    background: transparent url(../images/forms/textfield-disabled.png) no-repeat right top;
    zbackground: transparent url(../images/forms/form-sprite.png) no-repeat right -280px;
}

.textfield-std.disabled > .textfield-left,
.textfield-std.disabled:hover > .textfield-left {
    background: transparent url(../images/forms/textfield-disabled.png) no-repeat left top;
    zbackground: transparent url(../images/forms/form-sprite.png) no-repeat left -280px;
}

/*
.textfield-std > .textfield-left > .textfield-wrapper {
    xxpadding-top: 7px;
}
*/

.textfield-std  .textfield-input {
  
    border: none;
    
    padding: 7px 0px;
    height: 16px;
    
    zline-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    
    background-color: transparent;
    width: 100%;
   
}

.textfield-std  .textfield-input:focus {
    outline:none;
}

.textfield-std.has-button {

}

.textfield-std.has-button > .textfield-left {
    padding-right: 50px;       /* this needs to be manually adjusted */
}

.textfield-button {
    position: absolute;
    top: 4px;
    right: 4px;
    display: block;
    width: 45px;
    zbackground-color: grey;
    zbackground: transparent url(../images/forms/textfield-button-darkgrey.png) no-repeat -85px 0px;
    
    padding-right: 5px;
    height: 32px;
    z-index: 10;
    line-height: 32px;
}

.textfield-button > .text {
    padding-left: 5px;
    height: 100%;
  
    display: block;     
    font-size: 14px;

     text-align: center;

}

.textfield-button > .right {    
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 5px;
    height: 100%;
    
}

.textfield-button.darkgrey > .text {
    zbackground: transparent url(../images/forms/textfield-button-darkgrey.png) no-repeat 0px 0px;
    background: transparent url(../images/forms/form-sprite.png) no-repeat left -840px;
    color: white;
}

.textfield-button.darkgrey > .right {
    zbackground: transparent url(../images/forms/textfield-button-darkgrey.png) no-repeat -85px 0px;
    background: transparent url(../images/forms/form-sprite.png) no-repeat -85px -840px;
}


.textfield-button.darkgrey.hover > .text { 
    background-position: 0px -880px; 
}
.textfield-button.darkgrey.hover > .right {     
    background-position: -85px -880px;
}

.textfield-button.darkgrey.focus > .text { 
    background-position: 0px -920px; 
}
.textfield-button.darkgrey.focus > .right { 
    background-position: -85px -920px;

}


/*
.textfield-button.darkgrey.focus > .text,
.textfield-button.darkgrey.focus > .right {
    background-image: url(../images/forms/textfield-button-darkgrey-focus.png);
}
*/


.textfield-button.lightgrey > .text {
    zbackground: transparent url(../images/forms/textfield-button-lightgrey.png) no-repeat 0px 0px;
    background: transparent url(../images/forms/form-sprite.png) no-repeat left -720px;
}

.textfield-button.lightgrey > .right {
    zbackground: transparent url(../images/forms/textfield-button-lightgrey.png) no-repeat -85px 0px;
    background: transparent url(../images/forms/form-sprite.png) no-repeat -85px -720px;
}

.textfield-button.lightgrey.hover > .text { 
    background-position: 0px -760px; 
}
.textfield-button.lightgrey.hover > .right {     
    background-position: -85px -760px;
}

.textfield-button.lightgrey.focus > .text { 
    background-position: 0px -800px; 
}
.textfield-button.lightgrey.focus > .right { 
    background-position: -85px -800px;

}


.textfield-button.green > .text {
    background: transparent url(../images/forms/form-sprite.png) no-repeat left -960px;
}

.textfield-button.green > .right {
    background: transparent url(../images/forms/form-sprite.png) no-repeat -85px -960px;
}

.textfield-button.green.hover > .text { 
    background-position: 0px -1000px; 
}
.textfield-button.green.hover > .right {     
    background-position: -85px -1000px;
}

.textfield-button.green.focus > .text { 
    background-position: 0px -1040px; 
}
.textfield-button.green.focus > .right { 
    background-position: -85px -1040px;

}

/*
.textfield-button.lightgrey.hover > .text,
.textfield-button.lightgrey.hover > .right {
    background-image: url(../images/forms/textfield-button-lightgrey-hover.png);
}


.textfield-button.lightgrey.focus > .text,
.textfield-button.lightgrey.focus > .right {
    background-image: url(../images/forms/textfield-button-lightgrey-focus.png);
}
*/


/*
.textfield-button.green > .text {
    background: transparent url(../images/forms/textfield-button-green.png) no-repeat 0px 0px;
}

.textfield-button.green > .right {
    background: transparent url(../images/forms/textfield-button-green.png) no-repeat -85px 0px;
}


.textfield-button.green.hover > .text,
.textfield-button.green.hover > .right {
    background-image: url(../images/forms/textfield-button-green-hover.png);
}

.textfield-button.green.focus > .text,
.textfield-button.green.focus > .right {
    background-image: url(../images/forms/textfield-button-green-focus.png);
}
*/



.textfield-button {
    zffcursorff: default;
}

.jsdropdown {
    position: relative;
    cursor: default;
    margin: 0;    
    margin-top: -3px;
    width: 130px;
    outline: 0;
}

.jsdropdown.focus {
    outline: 0 !important;
    
}

.jsdropdown-main {
    xwidth: 100%;
    position: relative;
    padding-right: 36px;
    
    line-height: 39px;
    zline-height: 38.5px;
    font-size: 13px;
}

.jsdropdown-text {
    display: block;
    background: transparent url(../images/forms/dropdown-light.png) no-repeat left top;
    background: transparent url(../images/forms/form-sprite.png) no-repeat 0 0;
    height: 39px;

    /* Final line height 38px */
    zline-height: 39px;
    zfont-size: 13px;
    /*
    padding-top: 12px;
    height: 27px;
    */
    /*line-height: 38px;*/
    /*line-height: 12px;*/
    padding-left: 15px;
    /*font-size: 13px;*/

}

.jsdropdown-right {
    display:block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 36px;
    height: 39px;
    background: transparent url(../images/forms/dropdown-light.png) no-repeat right top;
    background: transparent url(../images/forms/form-sprite.png) no-repeat -170px 0px;
}





.jsdropdown-main.focus > .jsdropdown-text {   
    background: transparent url(../images/forms/dropdown-light-focus.png) no-repeat left top; 
    background: transparent url(../images/forms/form-sprite.png) no-repeat 0 -40px ;
}

.jsdropdown-main.focus > .jsdropdown-right {   
    background: transparent url(../images/forms/dropdown-light-focus.png) no-repeat right top;
    background: transparent url(../images/forms/form-sprite.png) no-repeat -170px -40px;
}

.jsdropdown-main.active > .jsdropdown-text {   
    background: transparent url(../images/forms/dropdown-light-active.png) no-repeat left top; 
    background: transparent url(../images/forms/form-sprite.png) no-repeat 0 -80px;
}

.jsdropdown-main.active > .jsdropdown-right {   
    background: transparent url(../images/forms/dropdown-light-active.png) no-repeat right top;
    background: transparent url(../images/forms/form-sprite.png) no-repeat -170px -80px;
}

/* WHITE VERSION */
.jsdropdown-main.white > .jsdropdown-text {
   
    background: transparent url(../images/forms/dropdown-white.png) no-repeat left top;
    xbackground: transparent url(../images/forms/form-sprite.png) no-repeat 0 -120px;   
}

.jsdropdown-main.white > .jsdropdown-right {   
    background: transparent url(../images/forms/dropdown-white.png) no-repeat right top;
    xbackground: transparent url(../images/forms/form-sprite.png) no-repeat -170px -120px;
}
 
.jsdropdown-main.white.focus > .jsdropdown-text {   
    background: transparent url(../images/forms/dropdown-white-focus.png) no-repeat left top; 
    background: transparent url(../images/forms/form-sprite.png) no-repeat 0 -160px ;
}

.jsdropdown-main.white.focus > .jsdropdown-right {   
    background: transparent url(../images/forms/dropdown-white-focus.png) no-repeat right top;
    background: transparent url(../images/forms/form-sprite.png) no-repeat -170px -160px;
}

.jsdropdown-main.white.active > .jsdropdown-text {   
    background: transparent url(../images/forms/dropdown-white-active.png) no-repeat left top; 
    background: transparent url(../images/forms/form-sprite.png) no-repeat 0 -200px;
}

.jsdropdown-main.white.active > .jsdropdown-right {   
    background: transparent url(../images/forms/dropdown-white-active.png) no-repeat right top;
    background: transparent url(../images/forms/form-sprite.png) no-repeat -170px -200px;
}




.jsdropdown-list {
    width: 132px;
    width: 100%;
   
    position: absolute;
    z-index: 100;
  
    top: 35px;
    display:none;
    
}


.jsdropdown-list-inner {
    margin: 0px 3px;   
    border: 1px solid #b0b0b0;
    border-top: none;
    background-color: white;
}


.jsdropdown-list .elem {
    display: block;
 
    color: black;
    text-decoration: none;
    xxwidth: 100%;
    cursor: default;
    background-color: white;
    padding: 5px 9px;
    font-size: 13px;
}

.jsdropdown-list .elem span.padding {
    padding: 5px 9px;
    display: block;
}

.jsdropdown-list .elem.highlighted {
    background-color: #6688cc;
    color: white;
}

/* JS DROPDOWN MINI VERSION */

.jsdropdown.mini {
}
.jsdropdown-main.mini {
    padding-right: 30px;
  

    line-height: 34px;
    font-size: 12px;
}

.jsdropdown-main.mini >.jsdropdown-text  {
    background: transparent url(../images/forms/dropdown-light-mini.png) no-repeat left top;
    height: 34px;
    /*line-height: 34px;*/

    /* Final line-height 33px  */
    zline-height: 34px;
    zfont-size: 12px;
    padding-left: 15px;
   
}

.jsdropdown-main.mini > .jsdropdown-right  {
    width: 30px; 
    height: 34px;
    background: transparent url(../images/forms/dropdown-light-mini.png) no-repeat right top;
    
}

.jsdropdown-main.mini.focus > .jsdropdown-text {   
    background: transparent url(../images/forms/dropdown-light-mini-focus.png) no-repeat left top; 
    xbackground: transparent url(../images/forms/form-sprite.png) no-repeat 0 -160px ;
}

.jsdropdown-main.mini.focus > .jsdropdown-right {   
    background: transparent url(../images/forms/dropdown-light-mini-focus.png) no-repeat right top;
    xbackground: transparent url(../images/forms/form-sprite.png) no-repeat -170px -160px;
}

.jsdropdown-main.mini.active > .jsdropdown-text {   
    background: transparent url(../images/forms/dropdown-light-mini-active.png) no-repeat left top; 
    xbackground: transparent url(../images/forms/form-sprite.png) no-repeat 0 -200px;
}

.jsdropdown-main.mini.active > .jsdropdown-right {   
    background: transparent url(../images/forms/dropdown-light-mini-active.png) no-repeat right top;
    xbackground: transparent url(../images/forms/form-sprite.png) no-repeat -170px -200px;
}



.jsdropdown.mini > .jsdropdown-list {
    top: 30px;
}
.jsdropdown.mini .elem {
    padding: 5px 9px;
    font-size: 12px;
}

/* Tiny (11px) text version of mini jsdropdown */
.jsdropdown-main.mini.tinytext >.jsdropdown-text  {  
    line-height: 33px;
    font-size: 11px;
    xline-height: 32px;
}

.jsdropdown.mini.tinytext .elem {
    font-size: 11px;
}


/* Checkboxes */

.checkbox-std {    
    height: 21px;       
    position: relative;
    
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;    
    xxcursor: pointer;
    margin-bottom: 2px;
}

.checkbox-std.left {
    padding-left: 25px;
    padding-left: 26px;
    padding-right: 5px;
}

.checkbox-std.right { 
    padding-right: 25px;    
   
}

.checkbox-std > .checkbox-label {
    font-size: 13px;   
    line-height: 23px;
    
    display: block;
    xxcursor: pointer;
   
}


.checkbox-std.font12  > .checkbox-label {
    font-size: 12px;
    line-height: 22px;
}
.checkbox-std.font14  > .checkbox-label {
    font-size: 14px;
    line-height: 22px;
}



/*
.checkbox-std.left .checkbox-label { padding-right: 5px }
.checkbox-std.right .checkbox-label { padding-left: 5px }
*/

.checkbox-std input[type="checkbox"] {
    position: absolute; 
    left: -9999px;
}

.checkbox-std > .checkbox-image {
    position: absolute;

    width: 21px;
    height: 21px;
    background: transparent url(../images/forms/checkbox-std.png) no-repeat left top;
    background: transparent url(../images/forms/form-sprite.png) no-repeat 0px -650px;
}

/* WHITE VERSION */
.checkbox-std.white > .checkbox-image {   
    background: transparent url(../images/forms/checkbox-white.png) no-repeat left top;

    background: transparent url(../images/forms/form-sprite.png) no-repeat -150px -650px;
}

.checkbox-std.left > .checkbox-image {
    top: 0; left: 0;
}

.checkbox-std.right > .checkbox-image {
    top: 0; right: 0;
}


.checkbox-std:hover > .checkbox-image,
.checkbox-std.focus > .checkbox-image {
    background: transparent url(../images/forms/checkbox-std-focus.png) no-repeat left top;    
    background: transparent url(../images/forms/form-sprite.png) no-repeat -25px -650px;
}

.checkbox-std.active > .checkbox-image  {
    background: transparent url(../images/forms/checkbox-std-active.png) no-repeat left top;    
    background: transparent url(../images/forms/form-sprite.png) no-repeat -50px -650px;
}


.checkbox-std.checked > .checkbox-image  {
    background: transparent url(../images/forms/checkbox-std-checked.png) no-repeat left top;    
    background: transparent url(../images/forms/form-sprite.png) no-repeat -75px -650px;

}
.checkbox-std.checked:hover > .checkbox-image ,
.checkbox-std.checked.focus > .checkbox-image  {
    background: transparent url(../images/forms/checkbox-std-checked-focus.png) no-repeat left top;
    background: transparent url(../images/forms/form-sprite.png) no-repeat -100px -650px;
}

.checkbox-std.checked.active > .checkbox-image  {
    background: transparent url(../images/forms/checkbox-std-checked-active.png) no-repeat left top;    
    background: transparent url(../images/forms/form-sprite.png) no-repeat -125px -650px;
}

/* RADIO */
.radio-std {    
    height: 19px;       
    position: relative;
    
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;      
    margin-bottom: 2px;
}
.radio-std.left {
    padding-left: 25px;
    padding-right: 5px;
}

.radio-std input[type="radio"] {
    position: absolute; 
    left: -9999px;
  
}



.radio-std > .radio-label {
    line-height: 21px;
    display: block;
    font-size: 13px;
}

.radio-std.font12 > .radio-label {
    font-size: 12px;
    line-height: 20px;
}

.radio-std.font14 > .radio-label {
    font-size: 14px;
    line-height: 20px;
}

.radio-std > .radio-image {
    position: absolute;
   
    width: 19px;
    height: 19px;
    background: transparent url(../images/forms/radio.png) no-repeat left top;
    background: transparent url(../images/forms/form-sprite.png) no-repeat 0px -690px;
}

.radio-std.left > .radio-image {
    top: 0; left: 0;
}

.radio-std:hover > .radio-image,
.radio-std.focus > .radio-image {
    background: transparent url(../images/forms/radio-focus.png) no-repeat left top;    
    background: transparent url(../images/forms/form-sprite.png) no-repeat -25px -690px;
}

.radio-std.active > .radio-image  {
    background: transparent url(../images/forms/radio-active.png) no-repeat left top;    
    background: transparent url(../images/forms/form-sprite.png) no-repeat -50px -690px;
}


.radio-std.checked > .radio-image  {
    background: transparent url(../images/forms/radio-checked.png) no-repeat left top;    
    background: transparent url(../images/forms/form-sprite.png) no-repeat -75px -690px;

}
.radio-std.checked:hover > .radio-image ,
.radio-std.checked.focus > .radio-image  {
    background: transparent url(../images/forms/radio-checked-focus.png) no-repeat left top;
    background: transparent url(../images/forms/form-sprite.png) no-repeat -100px -690px;
}

.radio-std.checked.active > .radio-image  {
    background: transparent url(../images/forms/radio-checked-active.png) no-repeat left top;    
    background: transparent url(../images/forms/form-sprite.png) no-repeat -125px -690px;
}


/* JS Drag slider, common options */
/* NARROW; DEFAULT is TRACK 20 (thin), HANDLE 32 (thick) */
.slider {     
    position: relative;
    width: 200px;
    height: 38px;
    padding-right: 24px;
    margin-top: -2px;   /* just for the bar's 2px upper space */    
}


.slider-handle {
    position: absolute;
    cursor: pointer;
    text-align: center;     
    z-index: 10;    
    margin-top: 0px;
    
    width: 90px;
    height: 38px;
   
    color: #FFF;
    padding-right: 10px;

    font-size: 13px;
    line-height: 37px;
    
   
}

.slider.smalltext > .slider-handle {
    font-size: 12px;
}


.slider-handle > .handle-text {   
    /*height: 100%;   */
    background: transparent url(../images/forms/slider-handle-32.png) no-repeat 0 0px ;  
    padding-left: 10px;
    height: 38px;
   
}

.slider-handle > .handle-right {   
    height: 100%;    
    position: absolute;
    right: 0;
    top: 0;
    background: transparent url(../images/forms/slider-handle-32.png) no-repeat right 0px ;     
    width: 10px;  
}

.slider-track-body {
    height: 100%;  
    background: transparent url(../images/forms/slider-track-20.png) no-repeat 0 3px ;  
}

.slider-track-right {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: transparent url(../images/forms/slider-track-20.png) no-repeat right 3px ;  
    width: 24px;
}


/* VARIANTS */
.slider.outerglow > .slider-handle > .handle-text {
    background: transparent url(../images/forms/slider-handle-32-outerglow.png) no-repeat 0 0px ;  
}

.slider.outerglow > .slider-handle > .handle-right {
    background: transparent url(../images/forms/slider-handle-32-outerglow.png) no-repeat right 0px ;  
}



.slider.handle32-light > .slider-handle > .handle-text {
    background: transparent url(../images/forms/slider-handle-light-32.png) no-repeat 0 0px ;  
    color: #333;
}

.slider.handle32-light > .slider-handle > .handle-right {
    background: transparent url(../images/forms/slider-handle-light-32.png) no-repeat right 0px ;  
}


.slider.handle30 > .slider-handle {
    line-height: 35px;
}

.slider.handle30 > .slider-handle > .handle-text {
    background: transparent url(../images/forms/slider-handle-30.png) no-repeat 0 0px ;  
    padding-left: 10px;
    
}

.slider.handle30 > .slider-handle > .handle-right {
    background: transparent url(../images/forms/slider-handle-30.png) no-repeat right 0px ;     
    width: 10px;  
}

.slider.track22 > .slider-track-body {
    background: transparent url(../images/forms/slider-track-22.png) no-repeat 0 2px ;  
}

.slider.track22 > .slider-track-right {
    background: transparent url(../images/forms/slider-track-22.png) no-repeat right 2px ;  
    xwidth: 24px;

}

.slider.dark > .slider-track-body {
    background: transparent url(../images/forms/slider-track-20-dark.png) no-repeat 0 3px ;  
}

.slider.dark > .slider-track-right {
    background: transparent url(../images/forms/slider-track-20-dark.png) no-repeat right 3px ;  
   
}

.slider.track22.dark > .slider-track-body {
    background: transparent url(../images/forms/slider-track-22-dark.png) no-repeat 0 2px ;  
}

.slider.track22.dark > .slider-track-right {
    background: transparent url(../images/forms/slider-track-22-dark.png) no-repeat right 2px ;  
}

.slider.track16 > .slider-track-body {
    background: transparent url(../images/forms/slider-track-16.png) no-repeat 0 8px ;  
}

.slider.track16 > .slider-track-right {
    background: transparent url(../images/forms/slider-track-16.png) no-repeat right 8px ;   
}

.slider.track16-dark > .slider-track-body {
    background: transparent url(../images/forms/slider-track-16-dark.png) no-repeat 0 8px ;  
}

.slider.track16-dark > .slider-track-right {
    background: transparent url(../images/forms/slider-track-16-dark.png) no-repeat right 8px ;   
}





/* TALL */
.slider.tall {
    height: 42px;
    padding-right: 24px;
    margin-top: -4px;   /* for the track's 4px space */
}

.slider.tall > .slider-track-body {
    background: transparent url(../images/forms/slider-track-32.png) no-repeat 0 0px ;  
}

.slider.tall > .slider-track-right {
    background: transparent url(../images/forms/slider-track-32.png) no-repeat right 0px ;  
    width: 24px;

}

.slider.tall > .slider-handle {
    margin-top: 2px;
    /*
    width: 90px;
    height: 38px;
    line-height: 35px;
    color: #FFF;
    padding-right: 10px;
    */
  
}

/*

.slider.tall > .slider-handle > .handle-text {
    background: transparent url(../images/forms/slider-handle-32.png) no-repeat 0 0px ;  
    padding-left: 10px;
}

.slider.tall > .slider-handle > .handle-right {
    background: transparent url(../images/forms/slider-handle-32.png) no-repeat right 0px ;     
    width: 10px;  
}
*/



.slider-thin {
    position: relative;
    height: 36px;
    width: 200px;
    padding-right: 12px;
}



.slider-thin > .slider-track-body {
    background: transparent url(../images/forms/slider-track-16.png) no-repeat 0 6px ;  
}

.slider-thin > .slider-track-right {
    background: transparent url(../images/forms/slider-track-16.png) no-repeat right 6px ;  
    width: 12px;

}

.slider-thin.dark > .slider-track-body {
    background: transparent url(../images/forms/slider-track-16-dark.png) no-repeat 0 6px ;  
}

.slider-thin.dark > .slider-track-right {
    background: transparent url(../images/forms/slider-track-16-dark.png) no-repeat right 6px ;  
}


.slider-thin-handle {
    position: absolute;
    cursor: pointer;
    width: 23px;
    height: 34px;
    
    background: transparent url(../images/forms/slider-thin-handle-light-28.png) no-repeat left;   

    z-index: 10;
}

/*
.slider-thin.fat > .slider-track-body {
    background-position: 0 5px;
}
*/

.slider-thin-handle.tall {    
    margin-top: -1px;
    width: 23px;
    height: 36px;
    background: transparent url(../images/forms/slider-thin-handle-light-30.png) no-repeat left top;
}


.slider-thin-handle.pointed {    
    margin-top: 1px;
    width: 23px;
    height: 36px;
    background: transparent url(../images/forms/slider-thin-handle-light-pointed.png) no-repeat left top;
}

.slider-range {
    position: absolute;
    height: 100%;
    height: 16px;
    top: 8px;
    background: transparent url(../images/forms/slider-range-darkgrey-16-strip.png) repeat-x left top;
    background: transparent url(../images/forms/slider-range-darkgrey-16.png) repeat-x left top;
    zbackground: transparent url(../images/forms/slider-range-grey-striped-16-alt.png) repeat-x left top;
    zbackground: transparent url(../images/forms/slider-range-darkgrey-16-alt.png) repeat-x left top;
    z-index: 5;
}



.slider-range-test {
    position: absolute;
    height: 20px;
    top: 9px;
    background-color: #ccc;
    z-index: 5;
}

.slider-fill {
    width: 10px;
    position: absolute;
    height: 16px;
    top: 10px;  
    left: 4px;
    background-color: #ccc;
  
    background: transparent url(../images/forms/slider-range-darkgrey-16.png) repeat-x left top;
    zbackground: transparent url(../images/forms/slider-range-grey-striped-16-alt.png) repeat-x left top;
    zbackground: transparent url(../images/forms/slider-range-darkgrey-16-alt.png) repeat-x left top;
    z-index: 5;
    zpadding-right: 10
}


/* HORIZ CONTROL THING */

/**
notes:
to accomplish a shared border that changes color I created a 1px wide <span class="border-right"> 
that floats on the right

**/
.horiz-control {
    list-style-type: none;
    zfloat: left;
    height: 42px;
}

.horiz-control.triangle {
    height: 48px;
}

.horiz-control-item {
    float: left;
    display: block;
}


.horiz-control-link {
    display: block;
    height: 42px;
  
    text-align: center;    
    position: relative;
   
    font-size: 15px;   
    line-height: 42px;
    padding-right: 16px;
    float: left;
    margin-right: -1px;
}

.horiz-control.smalltext .horiz-control-link {  
    line-height: 42px;
    font-size: 14px;
}

.horiz-control-link > .text {
    display: block;
    height: 100%;
    padding-left: 16px;
    background: url(../images/buttons/horiz-control-rect.png) no-repeat left top transparent;

    background: url(../images/buttons/horiz-control-sprite.png) no-repeat left 0px transparent;

}

.horiz-control-link > .right {
    position: absolute;
    width: 16px;
    height: 100%;
    right: 0;
    top: 0;
   
    background: url(../images/buttons/horiz-control-rect.png) no-repeat right top transparent;
    background: url(../images/buttons/horiz-control-sprite.png) no-repeat right 0px transparent;
} 

.horiz-control-link.left > .text {
    padding-left: 20px;
    xbackground: url(../images/buttons/horiz-control-rounded.png) no-repeat left top transparent;
    background-position: left -50px;
}

.horiz-control-link.right {
    padding-right: 20px;
}

.horiz-control-link.right > .right {
    width: 20px;
    xbackground: url(../images/buttons/horiz-control-rounded.png) no-repeat right top transparent;
    background-position: right -50px;
}

/* HOVER STYLE */
.horiz-control-link:hover {
    z-index: 5;
}

.horiz-control-link:hover > .text {
    xbackground-image: url(../images/buttons/horiz-control-hover-rect.png); 
    background-position: left -100px;
}

.horiz-control-link:hover > .right {
    xbackground-image: url(../images/buttons/horiz-control-hover-rect.png);   
    background-position: right -100px;
}


.horiz-control-link.left:hover > .text {
    xbackground-image: url(../images/buttons/horiz-control-hover-rounded.png);
    background-position: left -150px;
}

.horiz-control-link.right:hover > .right {
    xbackground-image: url(../images/buttons/horiz-control-hover-rounded.png);
    background-position: right -150px;
}



/* SELECTED STYLE */
.horiz-control-link.selected {
    z-index: 10;
    color: white;
}

.horiz-control-link.selected > .text {
    xbackground-image: url(../images/buttons/horiz-control-selected-rect.png);
     background-position: left -200px;
}

.horiz-control-link.selected > .right {
    xbackground-image: url(../images/buttons/horiz-control-selected-rect.png);
    background-position: right -200px;
}

.horiz-control-link.left.selected > .text {
    xbackground-image: url(../images/buttons/horiz-control-selected-rounded.png);
    background-position: left -250px;
}

.horiz-control-link.right.selected > .right {
    xbackground-image: url(../images/buttons/horiz-control-selected-rounded.png);
    background-position: right -250px;
}



/* triangle */

.horiz-control-triangle {
    display: none;
    position: absolute;
    width: 100%;
    bottom: -4px;
   
    height: 9px;
    
    background: url(../images/buttons/horiz-control-selected-triangle.png) no-repeat center top transparent; 
    background: url(../images/buttons/horiz-control-sprite.png) no-repeat center -300px transparent;
}


.horiz-control-link.selected > .horiz-control-triangle {
    display: block;  
}


.horiz-control-link.left > .horiz-control-triangle {
    left: 2px;
}

.horiz-control-link.center > .horiz-control-triangle {
    left: 0px;
}


.horiz-control-link.right > .horiz-control-triangle {
    right: 2px;
}

/* Show more link with arrow */

.show-more-link  {
    padding: 4px 0px;
    float: left;
    display: block;
    height: 13px;

    font-size: 13px;
    line-height: 13px;

}


.show-more-link > .text {
   
    font-weight: bold;
 
    display: block;
    xwidth: 120px;
    padding-right: 16px;
    /*border-bottom: 1px solid transparent;    */
 
   
}

.show-more-link.blue > .text {
    color: #2255cc;
    background: transparent url(../images/icons/thin-arrow-blue-right.png) no-repeat right 0px;

}

.show-more-link.blue.down > .text {
    background: transparent url(../images/icons/thin-arrow-blue-down.png) no-repeat right 0px;
    xpadding-right: 16px;
}

.show-more-link.blue.up > .text {
    background: transparent url(../images/icons/thin-arrow-blue-up.png) no-repeat right 0px;
}

.show-more-link.blue:hover > .text {
    zztext-decoration: underline;
    zborder-bottom: 1px solid #2255cc;
    color: #648cee;
    color: #A94264;

    color: #6D7FAB;
    zcolor: #557EBE;
    color: #5C88E6;
    background: transparent url(../images/icons/thin-arrow-lightblue-right.png) no-repeat right 0px;
    
 
}

.show-more-link.blue.down:hover > .text {
  
    background: transparent url(../images/icons/thin-arrow-lightblue-down.png) no-repeat right 0px;
    
}

.show-more-link.blue.up:hover > .text {
    background: transparent url(../images/icons/thin-arrow-lightblue-up.png) no-repeat right 0px;
}


.show-more-link.small { 
    height: 12px;
    font-size: 12px;
    line-height: 12px;
}


.show-more-link.small.blue > .text {  
    background: transparent url(../images/icons/thin-arrow-blue-right-odd.png) no-repeat right 0px;

}

.show-more-link.small.blue:hover > .text {  
    background: transparent url(../images/icons/thin-arrow-lightblue-right-odd.png) no-repeat right 0px;

}


/*---------------------
  PAGE NUMBER NAVIGATION
  ---------------------*/

.page-nav {
    height: 38px;
    zfloat: right;
}

.page-numbers {
    float: left;

}

.page-numbers.overflow {
    
}


/* 14px */
.page-number.font14 > .page-number{
    font-size: 14px;
    line-height: 38px;
}

/* PAGE NUMBER ELLIPSES */

.page-number-ellipsis {
    display: block;
    position: relative;
    text-align: center;
    float: left;  
    height: 38px;
    font-size: 13px;
    line-height: 39px;   
    font-weight: bold;
    color: #555;
    width: 12px;
}

.page-number-ellipsis > .text {
    zzdisplay: block;
}

.page-number-ellipsis.left { 
      margin: 0 1px 0 2px;
}
.page-number-ellipsis.right {
    margin: 0 2px 0 1px;
}

.page-number-ellipsis.right.filler {
    margin: 0;
    margin-right: -1px;
    width: 33px;
    zwidth: 25px;
    z-index: 0;
    background: url(../images/buttons/horiz-control-mini-disabled.png) no-repeat left top transparent; 
}


/* PAGE NUMBER ARROWS */

.page-arrows {
    margin-left: 0px;
    float: left;
}

.page-arrows.right {
    margin-left: 4px;
}

.page-arrows.overflow {
    margin-left: 0;
}

.page-number-arrow {
    display: block; 
    position: relative;
    float: left;
    height: 38px;
    width: 42px;
    zzmargin-right: -1px;
}

.page-number-arrow.left {    
    margin-right: 4px;
    background: url(../images/buttons/page-num-arrow-left.png) no-repeat left top transparent; 
    background: url(../images/buttons/horiz-control-sprite.png) no-repeat left -550px transparent;  
}
.page-number-arrow.right {
    margin-left: 4px;
    background: url(../images/buttons/page-num-arrow-right.png) no-repeat left top transparent; 
    background: url(../images/buttons/horiz-control-sprite.png) no-repeat left -590px transparent;  
}

.page-number-arrow.left.overflow {
    margin-right: 0px;
}
.page-number-arrow.right.overflow {
    margin-left: 0px;
}

.page-number-arrow.left:hover {
    background: url(../images/buttons/page-num-arrow-left-hover.png) no-repeat left top transparent; 
    background: url(../images/buttons/horiz-control-sprite.png) no-repeat left -630px transparent;  
    z-index: 5;
}
.page-number-arrow.right:hover {
    background: url(../images/buttons/page-num-arrow-right-hover.png) no-repeat left top transparent; 
    background: url(../images/buttons/horiz-control-sprite.png) no-repeat left -670px transparent;  
    z-index: 5;
}


/* Joined left/right arrows (one half is rect, other round) */
.page-number-arrow.rect {
    width: 38px;
}

.page-number-arrow.rect.left {
    margin-right: -5px;
    background: url(../images/buttons/page-num-arrow-left-rect.png) no-repeat left top transparent; 
    
    background: url(../images/buttons/horiz-control-sprite.png) no-repeat left -710px transparent;  
}
.page-number-arrow.rect.right {
    zzmargin-left: 3px;
    background: url(../images/buttons/page-num-arrow-right-rect.png) no-repeat left top transparent; 
    background: url(../images/buttons/horiz-control-sprite.png) no-repeat left -750px transparent; 
}

.page-number-arrow.rect.left:hover {
    background: url(../images/buttons/page-num-arrow-left-hover-rect.png) no-repeat left top transparent; 
    background: url(../images/buttons/horiz-control-sprite.png) no-repeat left -790px transparent; 
    z-index: 5;
}
.page-number-arrow.rect.right:hover {
    background: url(../images/buttons/page-num-arrow-right-hover-rect.png) no-repeat left top transparent; 
    background: url(../images/buttons/horiz-control-sprite.png) no-repeat left -830px transparent; 
    z-index: 5;
}

/* PAGE NUMBERS */

.page-number {

    display: block;
    position: relative;
    text-align: center;
    float: left;  
    height: 38px;
    font-size: 13px;
    line-height: 39px;
    margin-right: -1px;
    padding-right: 4px;    
    font-weight: bold;
    z-index: 1;
}

.page-number > .text {
    width: 25px;
    display: block;
    height: 100%;
    padding-left: 4px;
    zbackground: url(../images/buttons/horiz-control-mini-rect.png) no-repeat left top transparent;    


    background: url(../images/buttons/horiz-control-sprite.png) no-repeat left -310px transparent;
}

.page-number > .right {
    position: absolute;
    width: 4px;
    height: 100%;
    right: 0;
    top: 0;
   
    zbackground: url(../images/buttons/horiz-control-mini-rect.png) no-repeat right top transparent;
    background: url(../images/buttons/horiz-control-sprite.png) no-repeat right -310px transparent;
} 

.page-number.left {
    padding-right: 4px;
}

.page-number.left > .text {
    padding-left: 8px;
    zwidth: 25px;
    zbackground: url(../images/buttons/horiz-control-mini-rounded.png) no-repeat left top transparent;
    background-position: left -350px;
}

.page-number.left > .right {
    width: 4px;
}

.page-number.right {
    padding-right: 8px;
    margin-right: 0px;
}

.page-number.right > .text {
    zwidth: 25px;
    padding-left: 4px;
   
}

.page-number.right > .right {
    width: 8px;
    zbackground: url(../images/buttons/horiz-control-mini-rounded.png) no-repeat right top transparent;
    background-position: right -350px;
}

/* HOVER STYLE */
.page-number:hover {
    z-index: 5;
}

.page-number:hover > .text {
    zbackground-image: url(../images/buttons/horiz-control-mini-hover-rect.png); 
    background-position: left -390px;
}

.page-number:hover > .right {
    zbackground-image: url(../images/buttons/horiz-control-mini-hover-rect.png);   
    background-position: right -390px;
}
.page-number.left:hover > .text {
    zbackground-image: url(../images/buttons/horiz-control-mini-hover-rounded.png);
    background-position: left -430px;
}

.page-number.right:hover > .right {
    zbackground-image: url(../images/buttons/horiz-control-mini-hover-rounded.png);
    background-position: right -430px;
}

/* SELECTED STYLE */
.page-number.selected {
    z-index: 10;
    color: white;
}

.page-number.selected > .text {
    zbackground-image: url(../images/buttons/horiz-control-mini-selected-rect.png);
    background-position: left -470px;
}

.page-number.selected > .right {
    zbackground-image: url(../images/buttons/horiz-control-mini-selected-rect.png);
    background-position: right -470px;
}

.page-number.left.selected > .text {
    zbackground-image: url(../images/buttons/horiz-control-mini-selected-rounded.png);
    background-position: left -510px;
}

.page-number.right.selected > .right {
    zbackground-image: url(../images/buttons/horiz-control-mini-selected-rounded.png);
    background-position: right -510px;
}
